:root {
  --subgrid:minmax(2.5rem,20rem) [main-start] 80vw [main-end] minmax(2.5rem,20rem);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: var(--subgrid);
  grid-template-rows: [header-start] minmax(min-content, 75vh) [header-end] repeat(3, min-content);
}

.header {
  grid-row: header-start/header-end;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: var(--subgrid);
}
@supports (grid-template-columns: subgrid) {
  .header {
    grid-template-columns: subgrid;
  }
}

.features {
  grid-row: 2/3;
  grid-column: main-start/main-end;
  display: grid;
  grid-template-rows: repeat(7, 10rem);
  grid-template-columns: repeat(12, 1fr);
}
@media only screen and (max-width: 75em) {
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.gallery {
  grid-column: main-start/main-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem;
}
.gallery__container {
  grid-column: 1/-1;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
  grid-gap: 3rem;
  order: 2;
}

.footer {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--subgrid);
}
.footer__container {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 3rem 0;
}
@media only screen and (max-width: 50em) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 56.25em) {
  .header {
    background-image: url("../images/mobile/image-hero.jpg");
  }
}
.header__nav {
  grid-row: 1/2;
  grid-column: main-start/main-end;
  padding: 8rem 2rem;
  display: flex;
  align-items: center;
}
.header__nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 5rem;
}
@media only screen and (max-width: 62.5em) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-menu {
  opacity: 0;
}
@media only screen and (max-width: 62.5em) {
  .header__nav-menu {
    opacity: 1;
    margin-left: auto;
  }
}
.header__nav-menu .hamburger-icon {
  transition: all 0.2s ease-in-out;
}
.header__nav-menu .hamburger-icon:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
.header__hero {
  grid-row: 2/3;
  grid-column: main-start/main-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 50em) {
  .header__hero {
    display: flex;
    justify-content: center;
  }
}
.header__hero-text {
  grid-column: 1/2;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: white;
  padding: 6rem 9rem;
}
@media only screen and (max-width: 75em) {
  .header__hero-text {
    font-size: 4.5rem;
    padding: 4rem 6rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .header__hero-text {
    font-size: 4rem;
    padding: 3rem 5rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__hero-text {
    padding: 5rem 6rem;
  }
}

.features__img {
  grid-row: 2/7;
  grid-column: 1/7;
}
@media only screen and (max-width: 75em) {
  .features__img {
    padding: 1rem 3rem;
    align-items: center;
    order: 2;
  }
}
.features__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features__card {
  grid-column: 6/-1;
  grid-row: 4/7;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  padding: 4rem 7rem;
  background-color: white;
}
@media only screen and (max-width: 75em) {
  .features__card {
    margin-top: 3rem;
    padding: 0rem;
    text-align: center;
    align-items: center;
    order: 1;
  }
}
.features__card-heading {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
@media only screen and (max-width: 50em) {
  .features__card-heading {
    font-size: 4rem;
  }
}
.features__card-context {
  color: dimgray;
  font-size: 1.8rem;
  word-spacing: 0.6rem;
  letter-spacing: 1.1px;
}
@media only screen and (max-width: 50em) {
  .features__card-context {
    font-size: 1.6rem;
  }
}

.gallery__item {
  position: relative;
}
.gallery__item .figcap {
  min-width: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: white;
  opacity: 0.9;
  transform: translateX(-50%);
}
@media only screen and (max-width: 50em) {
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: fit;
  }
}
.gallery__heading {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  margin-bottom: -1rem;
}
@media only screen and (max-width: 62.5em) {
  .gallery__heading {
    font-size: 4.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .gallery__heading {
    margin-top: 5rem;
    order: 1;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 25em) {
  .gallery__heading {
    font-size: 4rem;
  }
}
.gallery__btn {
  justify-self: end;
  align-self: center;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}
.gallery__btn:hover, .gallery__btn:active, .gallery__btn:focus {
  cursor: pointer;
  background-color: black;
  color: white;
  transform: translateY(0.2rem);
}
@media only screen and (max-width: 56.25em) {
  .gallery__btn {
    grid-column: 1/-1;
    order: 3;
    font-size: 3rem;
    padding: 1.5rem 2.5rem;
    margin: 3rem 0;
    justify-self: center;
  }
}

.footer {
  background-color: black;
}
.footer__left {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer__social {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
@media only screen and (max-width: 50em) {
  .footer__social {
    margin-left: 0;
    margin-top: 4rem;
    align-self: center;
  }
}
.footer__social-icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: white;
}
.footer__social-icon:hover {
  opacity: 0.8;
}
.footer__right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 3rem;
}
.footer__nav {
  list-style: none;
  display: flex;
  gap: 5rem;
}
@media only screen and (max-width: 62.5em) {
  .footer__nav {
    gap: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__copyright {
  color: #8c8c8c;
  margin-left: auto;
  font-size: 1.4rem;
}

.mobile__menu {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.mobile__menu-header {
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile__menu-header .icon-close {
  transition: all 0.2s ease-in-out;
}
.mobile__menu-header .icon-close:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
.mobile__menu-list {
  margin: 10rem 6rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.mobile__menu-list li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
}

.hidden {
  display: none;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
.nav__link:hover::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.4rem;
  width: 4rem;
  background-color: white;
}

/*# sourceMappingURL=style.comp.css.map */
